<div *ngFor="let item of items; let i = index">
    <ng-container *ngIf="i !== editingIndex; else editMode">
      {{ item }}
      <button (click)="editItem(i)">Edit</button>
      <button (click)="removeItem(i)">Remove</button>
    </ng-container>
  
    <ng-template #editMode>
      <input [(ngModel)]="items[i]">
      <button (click)="saveItem(i)">Save</button>
    </ng-template>
  </div>
  
  <input [(ngModel)]="newItem" placeholder="Add a new item">
  <button (click)="addItem()">Add</button>
  
  
 