.item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration-color: #f024b9;
    
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b18484;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    background-color: antiquewhite;

    }


  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    span {
      font-size: 18px;
      margin: 0 20px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 300px;

    p.price {
      font-weight: bold;
      margin: 10px 0;
    }

    .rating {
      display: flex;
      align-items: center;
      margin: 10px;

      .star {
        font-size: 1.5rem;
        color: #ffcc00;
        margin-right: 3px;
        cursor: pointer;
      }

      .star:hover {
        color: #ff9900;
      }
    }
  }

  @media (max-width: 768px) {
    .filter {
      width: 100%;
    }

    .item {
      width: 90%;
    }
  }

  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #f9fcf9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 4px 4px 4px 4px;
  }
  h2 {
    font-size: 18px;
    margin: 10px 0;

  }
  select,
  input {
    padding: 5px;
    border: 1px solid #d15656;
    border-radius: 5px;
  }

  h3 {
    font-size: 18px;
  }

  li {
    margin: 10px;

  }
  p.price {
    font-weight: bold;
    margin: 10px 0;
  }
  .star {
    font-size: 1.5rem;
    color: #ffcc00;
    margin-right: 3px;
    cursor: pointer;
  }
  .star:hover {
    color: #ff9900;
  }


  .filter-group {
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: pink;

    label {
      margin-right: 10px;

    }
  }
    select,
    input {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
